.App {
  text-align: center;
  min-width: 500px;
  min-height: 500px;
}

.logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}

.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  min-width: 100%;
}